.THIS.di-payments * {
    font-family: "Salesforce Sans";
}


.THIS .di-payments__load-indicator {
    margin: 0;
    padding: 1rem;
    border: none;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 219, 218);
    border-radius: 5px;
}

.THIS .di-payments__error {
    margin: 0;
    padding: 1rem;
    border: none;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 219, 218);
    border-radius: 5px;
}

.THIS .di-payments-text_bold {
    font-size: .8125rem;
    font-weight: 700;
    color: rgb(8, 7, 7);
}

.THIS .di-payments-text_padding {
    padding-bottom: 7px;
}