.THIS {
}

.THIS.di-header-container {
    background-color: rgb(255, 255, 255);
    display: flex; 
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 24px;
}

.THIS .di-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .di-margin-left {
    margin-left: 16px;
}