/* BEGIN MODAL DIALOG */
.THIS {
    font-family: "Salesforce Sans";
}

.THIS .slds-modal__content {
    padding-bottom: 56px;
}

.THIS.slds-modal__content, .THIS .slds-modal__content{
    overflow: initial !important; 
    overflow-y: initial !important; 
}


/* END MODAL DIALOG */

.THIS .di-modal-dialog-title {
    color: #2b2826;
    font-family: "Salesforce Sans";
    font-size: 20px;
    font-weight: 400;
}

.THIS .di-modal-dialog-description {
    text-align: center;
    color: #2b2826;
    font-family: "Salesforce Sans";
    font-size: 13px;
    font-weight: 400;
}

.THIS .di-modal-dialog-content_margin {
    margin: 16px 128px 33px 128px;
}

.THIS .slds-modal__content_padding {
    padding: 16px 16px 56px 16px;
}

.THIS .di-modal-dialog__cell {
    color: #514f4d;
    font-family: "Salesforce Sans";
    font-size: 12px;
    font-weight: 400;
}

.THIS .di-modal-dialog__cell_padding {
    padding: 7px 41px 12px 10px;
}

.THIS .di-row-disabled .di-modal-dialog__cell {
    opacity: 0.5;
}

.THIS .di-modal-dialog__header {
    padding: 7px 41px 12px 10px;
    color: #080707;
    font-family: "Salesforce Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

.THIS .slds-table_bordered {
    border-top: none;
}

.THIS .slds-table thead th {
    background-color: inherit !important;
}

.THIS .di-table-container {
    width: 56%;
    margin: 16px 0 33px 0;
}

.THIS .slds-modal__close svg {
    fill: #ffffff;
}

.THIS.di-modal-dialog .slds-button_brand {
    background-color: #0070d2;
}

.THIS.di-modal-dialog .slds-button_brand[disabled] {
    background: rgb(201, 199, 197);
    border-color: rgb(201, 199, 197);
    color: rgb(255, 255, 255);
}

.THIS .di-field-margin {
    margin-left: 10px;
}

/* Errors */
.THIS  .forcePageError {
    border-bottom: none !important;
    margin-bottom: 0rem !important;
    padding-bottom: 0rem !important;
    text-align: left;
}

.THIS  .forcePageError .genericNotification {
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}

.THIS .forcePageError .errorsList {
    list-style: none;
    color: rgb(194, 57, 52);
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem .25rem 1rem;
}

.THIS .validationCss{
    font-size: .75rem;
    margin-top: .125rem;
    display: block;
    color: rgb(194, 57, 52);
}